<!-- content -->
<div>
	<h1>Get user details</h1>
	<div class="details-user">
		<p><strong>Name: </strong>{{detailsUser.name}}</p>
		<p><strong>Username: </strong>{{detailsUser.username}}</p>
		<p><strong>Email: </strong>{{detailsUser.email}}</p>
		<p><strong>Phone: </strong>{{detailsUser.phone}}</p>
		<p><strong>Website: </strong>{{detailsUser.website}}</p>
		<p><strong>Company name: </strong>{{detailsUser.company.name}}</p>
		
		<div><strong>Address: </strong><br/>
			<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;City: </strong>{{detailsUser.address.city}}</p>
			<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Street: </strong>{{detailsUser.address.street}}</p>
			<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Suite: </strong>{{detailsUser.address.suite}}</p>
			<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;zipcode: </strong>{{detailsUser.address.zipcode}}</p>
		</div>
	</div>
	<br/><br/><br/>
	<p><a href="#/"> Back</a></p>
</div>
<!-- !content -->
